.u-textAlignCenter {
  text-align: center;
}

.u-centered {
  display: block;
  margin: 0 auto;
}

.u-colorLight {
  color: $color-light;
}

.u-colorDark {
  color: $color-dark;
}

.u-colorTwitter {
  color: $color-twitter;
}

.u-colorFacebook {
  color: $color-facebook;
}

.u-colorLinkedin {
  color: $color-linkedin;
}

.u-backgroundColorPrimary {
  background-color: $color-primary;
}

.u-backgroundColorDark {
  background-color: $color-dark;
}

.u-noListStyleType {
  li {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}