.u-textAlignCenter {
  text-align: center;
}

.u-centered {
  display: block;
  margin: 0 auto;
}

.u-colorLight {
  color: $color-light;
}

.u-colorDark {
  color: $color-dark;
}

.u-backgroundColorPrimary {
  background-color: $color-primary;
}

.u-backgroundColorDark {
  background-color: $color-dark;
}