<input type="checkbox" class="Overlay-toggle" id="toggle-breaking-news" name="toggle-breaking-news" />
<div id="breaking-news" class="Overlay">
    <div class="Overlay-center">
        <div class="Overlay-content">
            <h1 class="Overlay-title">The Reference integrates the creative cell of Design is Dead into its team</h1>
            <p>The Reference announces it integrates the 20 creative talents of Design is Dead in its team. It also adds the agency clients and goodwill of its Antwerp-based sister company of Emakina Group. Design is Dead is very much alive and kicking and now fully focuses on enterprise platform integration, application building and ICT-advice.</p>
            <p class="Overlay-actions">
                <label for="toggle-breaking-news" class="Overlay-label">Continue to website</label> <em>or</em>&nbsp; <a href="/blog/designisdead-integrates-with-the-reference" class="Overlay-readMore">Read the complete article</a>
            </p>
        </div>
    </div>
    <label for="toggle-breaking-news" class="Overlay-close"></label>
</div>
