<div id="page-loader" class="pulsing">
    <div class="loader-name">
        <svg class="Svg Knuckles Knuckles--loading"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-knuckles"></use></svg>
    </div>
    <div class="loader-circle">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.4 253.4" style="enable-background:new 0 0 253.4 253.4;" xml:space="preserve"><circle cx="126.7" cy="126.7" r="124.2"/></svg>
    </div>
</div>