<div id="share" class="blog-share wrapper-small">
    <h5 class="title-alt"><strong>Share</strong></h5>
    <ul class="socialmedia-widget">
        <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"></a></li>
        <li class="facebook"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"></a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn"></a></li>
    </ul>
</div>