.Button {
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  color: $color-light;
  border: 1px solid $color-primary;
  font-size: 1rem;
  line-height: 1;
  vertical-align: bottom;
  padding: 14px 16px;
  margin-bottom: $spacer/2;
  overflow: hidden;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-appearance: none; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    background-color: rgba(255,255,255,0.08);
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: 0.4s width cubic-bezier(0.770, 0.000, 0.175, 1.000), 0.8s opacity cubic-bezier(0.770, 0.000, 0.175, 1.000);
    z-index: 0;
    border-radius: 50%;
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
    &:after {
      width: 125%;
      height: 150%;
      opacity: 1;
    }
  }

  // Button sizes
  &.tiny {
    padding: 0 6px;
    font-size: 0.6rem;
  }

  &.small {
    padding: 4px 8px;
    font-size: 0.75rem;
  }

  &.large {
    padding: 12px 24px;
    font-size: 1.2rem;
  }

  &.huge {
    padding: 16px 32px;
    font-size: 1.5rem;
  }

  &.fullWidth {
    width: 100%;
  }

  // Button variations
  &.outline {
    background-color: transparent;
    border-color: $color-dark;
    color: $color-dark;
  }

  &.link {
    background-color: transparent;
    border-color: transparent;
    color: $color-primary;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}