.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer/2 0;
}

.Footer-right {
  display: flex;
  align-items: center;
}

.Footer-copyright {
  font-size: 10px;
}

.Footer-knuckles {
  margin-top: -2px;
  margin-left: 5px;
}