.Hero {
  min-height: 40vh;
  display: flex;
  background-size: cover;
  background-position: center center;
  &.tiny {
    min-height: 10vh;
  }
  &.small {
    min-height: 20vh;
  }
  &.medium {
    min-height: 40vh;
  }
  &.large {
    min-height: 60vh;
  }
  &.huge {
    min-height: 80vh;
  }
  &.fullscreen {
    min-height: 100vh;
  }
}

.Hero-content {
  flex: 1;
  align-self: center;
  padding: 0 $spacer/4;
}

.Hero-title {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: normal;
  text-shadow: 0 2px 10px rgba($color-dark, 0.35);
  text-transform: none;
  font-size: 8vw;

  @media screen and (min-width: size('small')) {
    font-size: 6vw;
  }

  @media screen and (min-width: size('medium')) {
    font-size: 5vw;
  }

  @media screen and (min-width: size('large')) {
    font-size: 4vw;
  }

  @media screen and (min-width: size('huge')) {
    font-size: 58px;
  }
}
