.Select {
  display: block;
  position: relative;
  select {
    @extend .Formfield;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.Select-label {
  @extend .Label;
}

.Select-arrow {
  position: absolute;
  bottom: 18px;
  right: 15px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: $color-dark transparent transparent;
  margin-top: 4px;
  z-index: 0;
}
