.Textfield {
  display: block;
  position: relative;
}

.Textfield-legend {
  @extend .Label;
}

.Textfield-input {
  @extend .Formfield;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}